@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300);

#topbar {
	margin-top: 50px;
	margin-bottom: 50px;
}

#logo img {
	max-width: 100%;
	max-height: 100%;
}

nav ul li {
	display: inline;
	margin: 0 20px 130px 0;
}

nav a {
	text-decoration: none;
	color: #333;
}

a.active {
	font-weight: 600;
}

p {
	font-family: 'Libre Baskerville';
	line-height: 2;
}

textarea {
	height: auto;
}

body {
	padding-bottom: 50px;
}

.chem {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

li .chem {
	margin-bottom: 5px;
}

#elements {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-webkit-flex-direction: row;
	justify-content: flex-start;
}

.element {
	height: 90px;
	width: 90px;
	margin: 0 5px;
	font-size: 30px;
	text-align: center;
	line-height: 90px;
	float: left;
}

.element:hover {
	background-color: #333;
	color: white;
}